<!-- Removed app-product-filter as ProductFilterComponent does not exist -->
<!-- <form [formGroup]="searchForm">
  <input
    class="form-control"
    type="text"
    placeholder="Search..."
    formControlName="searchTerm"
  />
</form> -->
<app-header (filtersChanged)="onFiltersChanged($event)"></app-header>
<div class="row">
  <div *ngFor="let a of products" class="col-md-4 mb-3">
    <app-card [product]="a" (viewDetails)="viewDetailsEvent($event)" [addToCart]="addToCart"></app-card>
  </div>
</div> 

